
.repos {
  width: 250px;

  border: 1px solid #ccc;
  padding: .5em;
  margin: 1em 0;
}


.repos-title {
  color: #ccc;
  font-size: .7em; 
  text-transform: uppercase;
  border-bottom: 1px solid;
  padding: .3em;
  font-weight: bold;
}
